[class~="bg-blue"]{background-color: #316dc3;}
[class~="bg-grey"]{background-color: rgb(37, 39, 46);}
[class~="bg-white"]{background-color: #ffffff;}
[class~="col-something"]{color: #bbb;}
[class~="col-greytext"]{color: #666666;}
[class~="col-darkgreen"]{color: #427900;}
[class~="col-blue"]{color: #316dc3;}
[class~="col-deepblue"]{color: #0000cc;}
a:hover{ color: #0000cc !important; text-decoration: none !important;}
[class~="col-green"]{color: #00ff00;}
[class~="text"]{max-width: 990px !important;}
p{font-size: 11pt;}
[class~="pt8.5"]{font-size: 8.5pt !important;}
[class~="font-family-georgia"]{font-family: Georgia, 'Times New Roman', Times, serif;}
#carouselExampleControls{height: 500px; overflow: hidden;}
.greenbox{
    width: 36px;
    height: 2px;
    background-color: #427900;
    display: flex;
    align-self: flex-end;
    margin: 15px;
}
#gototop{border: none; background-color: rgba(0,0,0, 0.1); width: 50px; height: 50px; position: fixed; right: 15px; bottom: 15px;}
li>a:hover{color: #bbb;}
li{line-height: 8pt;}
ul{ list-style-type: none; margin: 0px; padding: 0px;}
.whitegreenbutton{
    color: #427900;
    border-color: #006618;
    background-color: #f5f5f5;
    font-size: small;
    padding: 0.25em;
}
#navbar{z-index: 10;}
.navbutton{border: none; background-color: #ffffff; color: #333333; border-radius: 25px;}
.navbutton:hover{background-color: #316dc3; color: #ffffff;}
.navhome{border: none; background-color: #316dc3; color: #ffffff;  border-radius: 25px}
[class~="font-size-big"]{font-size: 14pt;}
[class~="bg-statsblue"]{background-color: rgb(39, 85, 233);}
[class~="icon-border"]{height: 30px; width: 30px; border-radius: 15px; background-color: #316dc3;}
/* div{border: 1px solid red !important;} this is for test only */